* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #f3fdf8;
  color: #222;
}

.custom img{
    position: absolute;
    top: 0;
    right: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 8%;
}

.logo {
  color: #05a34a;
  font-weight: 700;
  font-size: 24px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.nav-links a.active {
  color: #05a34a;
  position: relative;
}

.nav-links a.active::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  background-color: #05a34a;
  border-radius: 50%;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 8%;
}

.hero-text {
  width: 50%;
}

.hero-text h1 {
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #1D1D1F;
}

.hero-text p {
  color: #666;
  margin-bottom: 30px;
  line-height: 1.6;
  font-size: 15px;
}

.btn {
  background-color: #05a34a;
  color: #fff;
  border: none;
  padding: 14px 30px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #04853c;
}

.logos {
  margin-top: 100px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.hero-image {
  position: relative;
  width: 45%;
}

.hero-image img {
  width: 100%;
  border-radius: 16px;
}

.badge {
  position: absolute;
  background: #fff;
  border-radius: 30px;
  padding: 8px 14px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.rating {
  bottom: 280px;
  left: -70px;
}

.quality {
  top: 200px;
  right: -20px;
}

.quality img {
  border-radius: 50%;
  width: 25px;
  height: 25px;
}





.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 8%;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  background-color: #fff;
  position: relative;
}

.feature-item {
  display: flex;
  align-items: center;
  gap: 16px;
  flex: 1;
  justify-content: center;
}

.icon-box {
  background-color: #eaf8f1;
  padding: 16px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-box img {
  width: 68px;
  height: 68px;
}

.feature-text h3 {
  font-size: 16px;
  color: #222;
  font-weight: 600;
  margin-bottom: 4px;
}

.feature-text p {
  font-size: 14px;
  color: #666;
}





.benefit-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 8%;
  background-color: #f5fdf9;
}

.benefit-image {
  width: 45%;
}

.benefit-image img {
  width: 100%;
  border-radius: 12px;
  display: block;
}

.benefit-content {
  width: 50%;
}

.subtitle {
  color: #333;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 14px;
}

.benefit-title {
  font-size: 56px;
  font-weight: 500;
  color: #222;
  margin-bottom: 40px;
  line-height: 1.2;
  position: relative;
}

.benefit-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.benefit-list li {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 17px;
  color: #333;
}

.benefit-list li span {
  color: #05a34a;
  font-size: 22px;
}





.veggie-section {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 80px;
  gap: 40px;
}

.content {
  flex: 1;
}

.subtitle {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}

.title {
  font-size: 50px;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 40px;
  color: #1D1D1F;
}

.stats {
  display: flex;
  gap: 60px;
  margin-bottom: 40px;
}

.stat h2 {
  font-size: 40px;
  color: #00b050;
  font-weight: 500;
  padding-bottom: 15px;
}

.stat p {
  font-size: 16px;
  color: #1D1D1F;
  font-weight: 400;
  opacity: 0.6;
}

.promo-btn {
  background: #00b050;
  color: #fff;
  border: none;
  padding: 16px 40px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.promo-btn:hover {
  background: #00a045;
}

.image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.image img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  object-fit: cover;
}





.h{
    text-align: center;
    padding-top: 80px;
}

.h h1{
    font-size: 50px;
    font-weight: 500;
}

.veggie-grid {
  padding-left: 5rem;
  padding-top: 4rem;
  width: 90%;
  max-width: 1300px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 300px;
  border-collapse: collapse;
  padding-bottom: 10rem;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;

}

.grid-item.img img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.grid-item.text {
  background-color: #f0fff4;
  flex-direction: column;
  text-align: left;
  padding: 40px;
  border: 1px solid #00b050;
}

.grid-item.text h2 {
  font-size: 25px;
  color: #1D1D1F;
  margin-bottom: 15px;
  font-weight: 400;
}

.grid-item.text p {
  color: #555;
  font-size: 16px;
  margin-bottom: 25px;
}

.grid-item.text a {
  color: #00b050;
  background-color: #e8fff1;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: 400;
  display: inline-block;
  transition: 0.3s;
  font-size: 15px;
}

.grid-item.text a:hover {
  background-color: #00b050;
  color: white;
}





.product-section {
  width: 90%;
  max-width: 1300px;
  text-align: center;
  padding: 60px 80px;
}

.section-subtitle {
  font-size: 16px;
  color: #444;
  margin-bottom: 10px;
  text-align: left;
}

.section-title {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 60px;
  text-align: left;
}

.product-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 40px 30px;
  width: 280px;
  text-align: center;
  transition: 0.3s ease;
}

.product-card.active {
  border: 2px solid #00b050;
}

.product-card img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.stars {
  color: #00b050;
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.product-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 400;
  padding-bottom: 5px;
}

.price {
  font-size: 18px;
  margin-bottom: 25px;
  color: #00a045;
}

.old-price {
  text-decoration: line-through;
  color: #aaa;
  margin-right: 5px;
}

.price span {
  font-weight: 500;
}

button {
  background: transparent;
  border: 2px solid #00b050;
  color: #00b050;
  padding: 12px 30px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background: #00b050;
  color: white;
}





.you{
    padding: 60px 80px;
}

.he {
  position: relative;
  width: 80%;
  background-image: url('./images/Rectangle\ 8.png'); 
  background-size: cover;
  background-position: center;
  display: flex;
  height: 400px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.he-content {
  position: relative;
  text-align: center;
  color: #fff;
  z-index: 2;
}

.he-content h1 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.3;
}

.btn {
  display: inline-block;
  margin-top: 30px;
  padding: 15px 40px;
  background-color: #00c853; 
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.btn span {
  margin-left: 10px;
}

.btn:hover {
  background-color: #00a944;
}





.footer {
  background-color: #fff;
  padding: 60px 80px;
  color: #000;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-col {
  flex: 1;
  justify-content: space-evenly;

}

.logo {
  font-size: 2rem;
  color: #00c853;
  margin-bottom: 20px;
  font-weight: 500;
}

.footer-col p {
  color: #1D1D1F;
  line-height: 1.6;
  font-size: 1rem;
  margin-bottom: 20px;
  opacity: 0.8;
}

.footer-col h3 {
  font-size: 1.3rem;
  color: #1D1D1F;
  margin-bottom: 40px;
  font-weight: 400;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  text-decoration: none;
  color: #1D1D1F;
  opacity: 0.8;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.footer-col ul li a:hover {
  color: #00c853;
}

.social-links{
  padding-top: 20px;
}

.social-links a {
  color: #000;
  font-size: 1.3rem;
  margin-right: 15px;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #00c853;
}

.subscribe-form {
  display: flex;
  margin-top: 15px;
  gap: 15px;
}

.subscribe-form input {
  flex: 1;
  padding: 15px;
  border: none;
  background-color: #f2f2ed;
  font-size: 1rem;
}

.subscribe-form button {
  background-color: #00c853;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.subscribe-form button:hover {
  background-color: #00a944;
}

.footer-bottom {
  text-align: center;
  margin-top: 60px;
  border-top: 1px solid transparent;
}

.footer-bottom p {
  color: #222;
  margin-top: 20px;
  font-size: 1rem;
}

